<!DOCTYPE html>
<html>
    <head>
      {% block styles %}
      {% endblock %}
      <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
      <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <div class="right menu">
          <a class="item">
              {% if user.is_authenticated %}
                You are authenticated as {{ request.user.username }}.
              {% endif %}
          </a>
          <a href="{% url 'logout' %}">Logout</a>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'registration' %}">Registration</a>
      </div>
      <div> 
        <a href="{% url 'products' %}">Show products</a>
      </div>
    </head>
    <body>
      {% block content %}
      {% endblock %}

      {% block scripts %}
      {% endblock %}
    </body>
</html>